body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 1em;
  margin: 5%;
  align-items: center;
  justify-content: center;
}
form.address_search {
  width: 100%;
  padding-left: 10%;
}
input.address_search {
  width: 75%;
}